div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#box1{
    position: static ;
    top: 50px;  /* will not work with static position */
    bottom: 50px;  /* will not work with static position */
    background-color: rgb(247, 87, 87);
    background-image: url("panda.jpg");
    background-size: cover;
}

#box2{
    position: relative;
    top:10px;
    left:30px;
    background-color: palevioletred;
    z-index: 1;
}
#box3{
    background-color: palegreen;
    position: absolute;
    top: 900px;
    left: 20px;
}

#box4{
    position: fixed;
    z-index: 3;
    
    
}
