#box1{
    height: 100px;
    width: 100px;
    background-color: green;
    font-size: 10px;
}

#box2{
    height: 50px;
    /* height: 100vh; */
    width: 30%;
    background-color: yellow;
    margin-left: 10%;
    font-size: 2em; 
    width: 5rem;
    /* 2 times of parent font-size */
}